body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #EEEEEE;
  color: black;
}

.navbar-laravel {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color:  #777777!important;
}

.nav-link {
  color: #fff !important;
}

.table-dark {

  color: #fff;
}

.list-group-item {
  border-color: #fff;
  background-color: #000;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25)
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}

#gnav {

    ul {
        overflow: hidden;
        list-style: none;
    }
    
    li {
        float: left;
        width: 100px;
        text-align: center;
    }
    a {
        color: #777777;
    }
}