body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F5F5;
  color: #000;
	background-image: url(img/boke1209P1093_TP_V.jp);
}

.navbar-laravel {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #D3D3D3 !important;
}

.nav-link {
  color: #fff !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #fff;
  background-color: #000;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25);
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}

#gnav ul {
  overflow: hidden;
  list-style: none;
}

#gnav li {
  float: left;
  width: 100px;
  text-align: center;
}

#gnav a {
  color: #D3D3D3;
}
.title {
  width: 400px;
  border-bottom: solid 2px black;
  font-family:'Courier New';
  font-size:30px;
  margin-bottom:35px;
  margin-top:25px;
  }
.profile-container{
  padding:50px 30px 50px 50px;
  background-color:#fff;
  display:flex;
}
.information-container{
  padding:50px 30px 50px 50px;
  background-color:#fff;
  display:flex;
}
.work-container {
  padding:50px 30px 50px 50px;
  background-color:#fff;
  display:flex;
}
.profile-title {
  font-size:30px;
  font-family:"Noto Sans Japaneze";
  padding-left:30px;
}
.profile-text {
  font-family:'Book Antiqua';
  padding:20px 0px 0px 20px;
  
}
.small {
  line-height:10px;
  font-size:15px;
}
p {
  line-height:18px;
}
.mb-30 {
  margin-bottom: 30px;
}
li {
	margin-left: 1.4em;
	text-indent: -1.4em;
}
.top {
  background-image:url(img/boke1209P1093_TP_V.jpg);
  width:2200px;
  height:735px;
}
