body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F5F5;
}

.navbar-laravel {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #777777 !important;
}

.nav-link {
  color: #fff !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #fff;
  background-color: #000;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25);
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}

#gnav ul {
  overflow: hidden;
  list-style: none;
}

#gnav li {
  float: left;
  width: 100px;
  text-align: center;
}

#gnav a {
  color: #777777;
}
.title {
  width: 400px;
  border-bottom: solid 2px black;
  font-family:'Courier New';
  font-size:30px;
  margin-bottom:35px;
  margin-top:25px;
  color:black;
  }
.profile-container{
  padding:50px 30px 50px 50px;
  background-color:#fff;
  display:flex;
  color:black;
}
.information-container{
  padding:50px 30px 50px 50px;
  background-color:#fff;
  display:flex;
}
.item1 {
  padding:50px 30px 50px 50px;
  background-color:#fff;
  margin:10px;
  float:left;
  
  
}
.profile-title {
  font-size:30px;
  font-family:"Noto Sans Japaneze";
  padding-left:30px;
}
.profile-text {
  font-family:'Book Antiqua';
  padding:20px 0px 0px 20px;
  
}
.small {
  line-height:10px;
  font-size:15px;
}
p {
  line-height:18px;
}
.mb-30 {
  margin-bottom: 30px;
}
li {
	margin-left: 1.4em;
	text-indent: -1.4em;
}
.top {
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-color:white;
  /*background: url("../img/boke1209P1093_TP_V.jpg") no-repeat;*/
}
.top-container {
  display:flex;
}
.top-image {
  margin:30px 0px 0px 70px;
}

.top-text {
  margin:100px 0px 0px 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Noto Sans JP';
  text-shadow: 1px 1px 1px #333333, -1px 1px 1px #333333, 1px -1px 1px #333333, -1px -1px 1px #333333, 1px 1px 1px #333333, -1px 1px 1px #333333, 1px -1px 1px #333333, -1px -1px 1px #333333;
}
h1 {
  padding-bottom:30px;
  font-size:100px;
}
.work-container {
  background-color: #fff;

}
.work-title { 
  background: linear-gradient(transparent 80%, #CCCCFF 80%);
  display: inline-block;
}