
.work-title {
  font-size:20px;
  font-family:"Noto Sans Japaneze";
  padding-left: 10px;
  padding-top: 20px;
}
.work-block {
  display: flex;
}
.work-container {
  background-color:#fff;
  padding:20px 15px 20px 0px;
}
.description{
  padding-left: 20px;
}
.work-container {
  margin-bottom: 30px;
}